*{
    margin: 0;
    padding: 0;
}

 #wrapper{
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Indie Flower', cursive;
}
.bg-transparent {
    background-color: transparent;
}
.pt-20{
    padding-top: 20px;
}
.mt-20{
    margin-top: 20px;

}
.mb-10{
    margin-bottom: 10px;
}
.border-bottom-1{
    border-bottom: 1px solid gray;
}